*{
    margin: 0;
    padding: 0;
    background: black;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, a {
    font-family: 'Handjet', cursive;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/MarsRover.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    top: 0;
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 90vw;
    position: fixed;
    z-index: 5;
}

nav img{
    width: 130px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 2px 30px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #693EB2;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

/*For dropdown*/
.dropdown{
    display: inline-block;
}

#dropdown-options {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s linear;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  
#dropdown-options a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    transition: 0.5s;
}

.dropdown:hover #dropdown-options{
    visibility: visible;
    opacity: 1;
}

#dropdown-options a:hover{
    color: #693EB2;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: transparent;
}

.text-box h1{
    font-size: 62px;
    margin: 0px 0 40px;
    background: transparent;
}

nav .fa{
    display: none;
}

/*Buttons*/
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 54px;
    font-size: 16px;
    background: #4c2a87;
    border-radius: 20px;
    position: relative;
}

.hero-btn:hover{
    background: #243391;
    transition: 1s;
}

@media(max-width: 800px){
    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: fixed;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
}

/*Blurbs Section*/
.indexBlurbBox {
    width: 80%;
    margin-top: 2%;
    margin: auto;
    position: center;
    padding: 10px;
    border-radius: 10px;
    background: #4c2a87;
}

.indexBlurbBox h2{
    color: #fff;
    font-size: 36px;
    text-align: auto;
    text-align: center;
    background: transparent;
}

.indexBlurbBox p{
    color: #fff;
    font-size: 15px;
    background: transparent;
}

.header-line{
    display: block;
    width: 150px;
    height: 6px;
    background: white;
    margin: 15px auto;
    border-radius: 10px;
}

.whoAreWe{
    margin: auto;
    text-align: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.team-photo img{
    display: block;
    position: center;
    margin: auto;
    width: 60%;
    border-radius: 10px;
}

.goal{
    margin: auto;
    text-align: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

/*Footer section*/
.footer *{
    background: transparent;
    color: white;
}

.footer{
    text-align: center;
    width: 80%;
    margin-top: 2%;
    margin: auto;
    position: center;
    padding: 10px;
    border-radius: 10px;
    background: #4c2a87;
}

.footer h2{
    padding-top: 10px;
    font-size: 30px;
}

.footer h3{
    padding: 20px;
    font-size: 20px;
}

#contact-btn{
    background: black;
}

#contact-btn:hover{
    color: #4c2a87;
    transition: 1s;
}

.icons-container{
    position: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 30px;
}

/*----Subsequent pages----*/
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/TeamPicSub.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1{
    position: relative;
    font-size: 80px;
    top: 200px;
    text-align: center;
    background-color: transparent;
}

/*----Team page----*/
.exec *{
    color: white;
    background-color: transparent;
    padding: 2%;
}

.exec{
    width: 80%;
    margin: auto;
    text-align: auto;
    text-align: center;
}

.exec-col{
    flex-basis: 24%;
    max-width: 200px;
    min-width: 200px;
    position: relative;
    overflow: hidden;
    background: #4c2a87;
}

.exec-col img{
    width: 100%;
    max-width: 200px;
    position: left;
}

.exec h1{
    font-size: 30px;
}

.exec h4{
    font-size: 20px;
}

/*Subsystem Section*/
.subsystem{
    width: 80%;
    margin: auto;
    text-align: auto;
    text-align: center;
}

.subsystem-col{
    flex-basis: 24%;
    max-width: 24%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.subsystem-col img{
    width: 100%;
    height: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: #683eb286;
    cursor: pointer;
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    background: transparent;
    font-size: 40px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

#jump{
    position: absolute;
    bottom: -100px;
}

#mechanical-hook, #electrical-hook, #software-hook, #business-hook{
    width: 70%;
    margin: auto;
    position: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #4c2a87;
    margin-bottom: 10px;
    display: none;
}

.hook-img-col{
    flex-basis: 38%;
    max-width: 38%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.hook-blurb-col{
    flex-basis: 58%;
    background-color: transparent;
}

.hook-blurb-col h1{
    text-align: center;
    margin: auto;
    color: white;
    background: transparent;
    font-size: 50px;
}

/*.exec{
    width: 80%;
    margin: auto;
    text-align: auto;
    text-align: center;
}

.exec-col{
    flex-basis: 24%;
    max-width: 200px;
    min-width: 200px;
    position: relative;
    overflow: hidden;
    background: #4c2a87;
}

.exec-col img{
    width: 100%;
    max-width: 200px;
    position: left;
}*/

#mechanical-hook img, #electrical-hook img, #software-hook img, #business-hook img{
    width: 100%;
    height: 100%;
}